<%- include("../layout/head.ejs",{title:"Setting Managers"})%>

    <%- include("../layout/header.ejs")%>
        <%- include("../layout/sidebar.ejs")%>
            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Cấu hình website</li>
                    </ol>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Cấu hình</h1>
                    </div>
                </div><!--/.row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <form id="form" action="/admin/settings" method="post" enctype="multipart/form-data">
                                        <div style="display: flex;">
                                            <div class="form-group col-md-4 ">
                                                <label>Logo</label>
                                                <div>
                                                    <img id="imgload" style="width: 200px;
                                    " src="../uploads/images/<%=setting.logo%>">
                                                </div>
                                                <label for="logo" class="btn btn-info"> chọn ảnh</label>
                                                <input id="logo" onchange="changeImg(event)" type="file" name="logo" style="display: none">
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label>tiêu đề</label>
                                                <textarea rows="6" type="text" name="description" id="description"
                                                    class="form-control"><%=setting.description%></textarea>
                                            </div>
                                        </div>
                                        <div style="display: flex;">
                                            <div class="form-group col-md-4 ">
                                                <label>Địa chỉ</label>
                                                <textarea type="password" 
                                                    name="add" id="add" required class="form-control"><%=setting.add%></textarea>
                                            </div>
                                            <div class="form-group col-md-4 ">
                                                <label>dịch vụ</label>
                                                <textarea type="password" 
                                                    name="service" id="service" required
                                                    class="form-control"><%=setting.service%></textarea>
                                            </div>
                                            <div class="form-group col-md-4 ">
                                                <label>Hotline</label>
                                                <textarea type="password" 
                                                    name="hotline" id="hotline" required
                                                    class="form-control"><%=setting.hotline%></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label>Footer</label>
                                            <textarea type="password" 
                                                name="footer" id="footer" required class="form-control"><%=setting.footer%></textarea>
                                        </div>
                                        <script>CKEDITOR.replace("service");
                                            CKEDITOR.replace("hotline")
                                            CKEDITOR.replace("add")
                                            function changeImg(event){
                                                const file=event.target.files[0]
                                                document.getElementById("imgload").src=URL.createObjectURL(file)
                                            }
                                            </script>
                                        <button type="submit" id="submit" name="sbm" class="btn btn-primary">Cập nhật</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-->
                </div><!-- /.row -->

            </div> <!--/.main-->

            <%- include("../layout/footer.ejs")%>
            <!-- <script>
                document.addEventListener("DOMContentLoaded",function(){
                    $("#submit").click(function(){
                        console.log(1);
                        $('#form').submit();
                    })
                })
            </script> -->