<div class="product-item card text-center">
    <a href="/product-<%=product.slug%>.<%=product._id%>"><img src="../uploads/images/<%= product.thumbnail%>"></a>
    <h4><a href="/product-<%=product.slug%>.<%=product._id%>">
            <%=product.name%>
        </a></h4>
    <p>Giá Bán: <span>
            <%= product.price.toLocaleString('it-IT', {style : 'currency' , currency : 'VND' });%>
        </span></p>
</div>