<%- include("./layouts/head.ejs",{title:"Category"})%>

<%- include("./layouts/header.ejs")%>

<%- include("./layouts/menu.ejs")%>
<%- include("./layouts/slider.ejs")%>


<!--	Header	-->


<!--	Body	-->

                <!--	List Product	-->
                <div class="products">
                    <h3><%=category.title%> (hiện có <%=total%> sản phẩm)</h3>
                    <div class="product-list card-deck">
                        <%for(let product of products){%>
                            <%-include("./component/product-item.ejs",{product})%>
                            
                            <%}%>
                    </div>
                    
                    
                </div>
                <!--	End List Product	-->
                
                <div id="pagination">
                    <ul class="pagination">
                        <%if(currentPage>1){%>
                            <li class="page-item"><a class="page-link"
                                    href="../../category-<%=category.slug%>.<%=category._id%>?page=<%=currentPage-1%>">Trang trước</a></li>
                            <%}%>
                                <%for(let page of pages){ %>
                                    <%if(page==="..."){ %>
                                        <li class="page-item">
                                            <span class="page-link"
                                                >
                                                <%=page%>
                                        </span></li>
                                        <%}else{%>
                                            <li class="page-item <%=page==currentPage?'active' :'' %>">
                                                <a class="page-link"
                                                    href="../../category-<%=category.slug%>.<%=category._id%>?page=<%=page%>">
                                                    <%=page%>
                                                </a></li>
                                            <%}%>
                                                <%}%>
                                                    <%if(currentPage < totalPages){%>
                                                        <li class="page-item"><a class="page-link"
                                                                href="../../category-<%=category.slug%>.<%=category._id%>?page=<%=currentPage+1%>">Trang sau</a>
                                                        </li>
                                                        <%}%>
                    </ul> 
                </div>
                
            </div>
          
            <%- include("./layouts/sidebar.ejs")%>
            <%- include("./layouts/footer.ejs")%>



<!--	End Footer	-->














