<%- include("../layout/head.ejs",{title:"Product Managers"})%>
    <%- include("../layout/header.ejs")%>
        <%- include("../layout/sidebar.ejs")%>


            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Danh sách sản phẩm
                            <form action="/admin/products?<%= filter!=undefined?`filter=${filter}&`:''%>" method="get">
                                <select name="is_stock" id="">
                                    <option value="0">Hết hàng</option>
                                    <option value="1">Còn hàng</option>
                            
                                </select>
                                <input type="text" name="filter" value="<%= filter!=undefined?`${filter}`:''%>" style="display: none;">
                                <input type="submit" value="lọc" />
                            </form>
                        </li>
                    </ol>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Danh sách sản phẩm</h1>
                    </div>
                </div><!--/.row-->
                <form method="post" action="/admin/products/deleteMany">
                <div id="toolbar" class="btn-group">
                    <a href="/admin/products/create" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
                    </a>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                                Danh Mục sản phẩm
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="overflow-y: auto; max-height: 200px">
                                <li class="dropdown-header">Danh Mục</li>
                                <%for(cat of categories){%>
                                    <li>
                                        <a href="/admin/products?filter=<%=cat._id%>">
                                            <%=cat.title%>
                                        </a>
                                    </li>
                                    <%}%>
                            </ul>
                           
                        </div>

                </div>
                
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div style="float: right;margin-top: 10px;">
                                    <%if(totalTrash){%>
                                        <a href="/admin/products/trash" class="btn btn-danger"><i
                                                style="margin-right: 5px;top: 2px;"
                                                
                                                class="glyphicon glyphicon-trash"></i>Thùng rác (<%=totalTrash%>)</a>
                                        <%}else{%>
                                            <span disabled class="btn btn-danger"><i
                                                    style="margin-right: 5px;top: 2px;"
                                                    class="glyphicon glyphicon-trash"></i>Thùng rác (<%=totalTrash%>)</span>
                                            <%}%>
                                </div>
                                <table data-toolbar="#toolbar" data-toggle="table">

                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                                            <th data-field="price" data-sortable="true">Giá</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Trạng thái</th>
                                            <th>Danh mục</th>
                                            <th>Hành động</th>
                                            <th><input type="checkbox" id="checkall"> Tất cả</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i=0; for (let product of products){ i++; %>
                                            <tr>
                                                <td style="">
                                                    <%=i%>
                                                </td>
                                                <td style="">
                                                    <%= product.name%>
                                                </td>
                                                <td style="">
                                                    <%=formatter.format(product.price)%>
                                                </td>
                                                <td style="text-align: center"><img width="130" height="180"
                                                        src="../uploads/images/<%= product.thumbnail%>" /></td>

                                                <td>
                                                    <% if(product.is_stock){ %>
                                                        <span class="label label-success">Còn hàng</span>
                                                        <%}else{%>
                                                            <span class="label label-danger">Hết hàng</span>

                                                            <% }%>
                                                </td>
                                                <td>
                                                    <%= product.cat_id.title%>
                                                </td>
                                                <td class="form-group">
                                                    <a href="/admin/products/edit/<%= product._id%>" class="btn btn-primary"><i
                                                            class="glyphicon glyphicon-pencil"></i></a>
                                                    <a href="/admin/products/delete/<%= product._id%>" class="btn btn-danger"><i
                                                            class="glyphicon glyphicon-remove"></i></a>
                                                </td>
                                                <td style=""><input value="<%= product._id%>" type="checkbox"
                                                    class="check-item" name="products[]"></td>
                                            </tr>
                                            <%}%>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td colspan="3"><button type="button" data-toggle="modal"
                                                        data-target="#exampleModal"
                                                        class="btn btn-danger btn_action">Xóa</button></td>
                                            </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <%if(currentPage>1){%>
                                            <li class="page-item"><a class="page-link"
                                                    href="../../admin/products?<%= filter!=undefined?`filter=${filter}&`:''%>page=<%=currentPage-1%>">&laquo;</a></li>
                                            <%}%>
                                            <%for(let page of pages){ %>
                                                <%if(page==="..."){ %>
                                                    <li class="page-item">
                                                        <span class="page-link">
                                                            <%=page%>
                                                    </span></li>
                                                <%}else{%>
                                                    <li class="page-item <%=page==currentPage?'active' :'' %>">
                                                        <a class="page-link"
                                                            href="../../admin/products?<%= filter!=undefined?`filter=${filter}&`:''%>page=<%=page%>">
                                                            <%=page%>
                                                    </a></li>
                                                <%}%>
                                            <%}%>
                                        <%if(currentPage < totalPages){%>
                                            <li class="page-item"><a class="page-link"
                                                href="../../admin/products?<%= filter!=undefined?`filter=${filter}&`:''%>page=<%=currentPage+1%>">&raquo;</a>
                                            </li>
                                        <%}%>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Bạn có chắc chắn xóa các Sản phẩm ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
									<button type="submit" class="btn btn-danger">Xóa</button>
								</div>
							</div>
						</div>
					</div>
            </form>
            </div> <!--/.main-->

            <script src="js/jquery-1.11.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/bootstrap-table.js"></script>
            <script>
				document.addEventListener("DOMContentLoaded", function () {
					var checkall = $("#checkall");
					var listcheckbox = $("input.check-item")
					var btnAction = $(".btn_action");

					toggleBtnsubmit()
					checkall.change(() => {
						var isCheck = checkall.is(":checked");
						listcheckbox.prop("checked", isCheck)
						toggleBtnsubmit();

					})
					listcheckbox.change(() => {
						var isCheckall = listcheckbox.length === $("input.check-item:checked").length
						checkall.prop("checked", isCheckall)
						toggleBtnsubmit();

					})
					function toggleBtnsubmit() {
						if ($("input.check-item:checked").length) {
							btnAction.removeClass('disabled')
							btnAction.prop('disabled', false)

						} else {
							btnAction.addClass('disabled')
							btnAction.prop('disabled', true)

						}

					}
				})
			</script>
            <%- include("../layout/footer.ejs")%>